<h1>Player 1: <%= @game.player_1.return_name %> vs Player 2: <%= @game.player_2.return_name %></h1>

<div>
<h2><%= @game.player_1.return_name %> <%= @game.player_1.hit_points %>HP
<%= @game.player_2.return_name %> <%= @game.player_2.hit_points %>HP </h2>
</div>

<form action="/attack">
  <input type="submit" value="attack">
</form>
